* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: none;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 1em 3em;
}
h2 {
  color: white;
  text-decoration: none;
}
input {
  padding: .5em;
}  

.cart-box {
  display: flex;
}
.item {
  width: 300px;
}
.item-detail {
  justify-content: space-between;
}
.shoppingcard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
span {
  font-size:1.8em;
  color: red;
  margin-left: 10px;
}